<template name="pins">
	<div id="queue">
<div class="pin">
	<div class="pin-details">
		<h3 class="pin-title">Title</h3>
		<h4 class="pin-location">Detroit, MI</h4>
		<h4 class="pin-date">06/18/2013</h4>
	</div>
	<p class="pin-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis est harum sapiente consectetur ipsum.</p>
</div>

<div class="pin">
	<div class="pin-details">
		<h3 class="pin-title">Title</h3>
		<h4 class="pin-location">Detroit, MI</h4>
		<h4 class="pin-date">06/18/2013</h4>
	</div>
	<p class="pin-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, neque, natus, voluptates, aperiamam dicta error quasi!</p>
</div>

<div class="pin">
	<div class="pin-details">
		<h3 class="pin-title">Title</h3>
		<h4 class="pin-location">Detroit, MI</h4>
		<h4 class="pin-date">06/18/2013</h4>
	</div>
	<p class="pin-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, dignissimos, id, hic cum eum nemo>
</div>

<div class="pin">
	<div class="pin-details">
		<h3 class="pin-title">Title</h3>
		<h4 class="pin-location">Detroit, MI</h4>
		<h4 class="pin-date">06/18/2013</h4>
	</div>
	<p class="pin-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, beatae, maiores nobis tenetur odi>
</div>
	</div>
</template>