#intro{
	font-family: Georgia, serif;
	padding:0 1em;
	background: rgba(0,0,0,.6);
	height: 100%;
}

#intro p{
	font-family: poiret-one, serif;
	text-align:justify;
	padding:120px 18px 30px;
	margin:0;
	font-size:1.3em;
	font-weight: 600;
}

#things{
	width:85%;
	max-width: 250px;
	margin:18px auto;
}
	
#intro h2{
	font-weight:100;
	letter-spacing:2px;
	font-size:1.2em;
	font-style:italic;
	margin:.2em 0;
	color:#48c;
	}

	
#intro ul{
	margin:.5em 0;
	font-size:.98em;
	line-height:1.2em;
	font-family:Tahoma, Helvetica, Arial, sans-serif;
}

#intro li{
	line-height:1.6em;
	list-style-type:circle;
	letter-spacing:1px;
	margin-left: -.5em;
}

#intro h1{
	font-family: Lobster, serif;
	font-size:2.3em;
	letter-spacing:2px;
	font-weight:100;
	text-align:center;
	padding:10px 1em 40px;
	margin:0;
	color:#ffcf56;
}