*{
	box-sizing:border-box;
}

html, body{
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:Arial, sans-serif;
	background:#444444;
}

a{
	color: #eeeeee;
	text-decoration:none;
}

.btn, #login-buttons a.login-link-text{
	border: 1px solid rgba(0,0,0,.25);
	margin: 1em;
	background: #48c;
	padding: 4px 10px 3px;
	color: #ffffff;
	text-shadow: 0 -1px 1px rgba(0,0,0,.2);
	font-size: 16px;
}

.btn:hover, #login-buttons a.login-link-text:hover{
	background: #37b;
	cursor: pointer;
}

.red{background:#c44}
.green{background:#4a6}
.yellow{background:#fc0}
.red:hover{background:#b33}
.green:hover{background:#395}
.yellow:hover{background:#f5c500}

#page{
	width:100%;
	height:calc(100% - 65px);
	height:-webkit-calc(100% - 65px);
	height:-moz-calc(100% - 65px);
	height:-o-calc(100% - 65px);
	position:absolute;
	top:65px;
	color:#FFF;
}

header {
	position:absolute;
	width:100%;
	height: 65px;
	padding:.2em 30px;
	background:#FFCC00;
	color:#484852;
	border-bottom:1px solid #DDAA00;
	font-size:1.2em;
	z-index:2;
}

header h1{
	font-family: lobster, 'Trebuchet MS';
	margin:0 0 4px;
	color:#F8F8F8;
	-moz-text-shadow: 0 2px 5px #C7980A;
	-webkit-text-shadow: 0 2px 5px #C7980A;
	text-shadow: 0 2px 5px #C7980A;
	float: left;
	margin-right: 1em;
}

#login-buttons{
	position: absolute;
	right: 30px;
	top: 22px;	
}

#login-buttons a.login-link-text, #login-buttons a.login-close-text{
	text-decoration: none;
}

#login-buttons a.login-close-text{
	float: right;
}

#login-dropdown-list{
	left: -120px;
	box-sizing: content-box;
}

#add-pin{
	position: absolute;
	right: 344px;
	top: 60px;
}

#map_canvas {
	position:absolute;
	width:100%;
	min-height:600px;
	height:100%;
	margin: 0;
}

#queue{
	z-index: 5;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid rgba(100,100,100,.9);
	overflow-y:scroll;
	height:100%;
}

.pin{
	width: 350px;
	border-bottom: 1px solid rgba(100,100,100,.9);
	background: rgba(0,0,0,.8);
	margin: 0;
	padding: 12px;
	font-family: 'Open-sans', Arial, Helvetica, sans-serif; 
}

.pin:last-child{
	border-bottom: none;
}

.pin>.pin-title{
	margin: 0;
}
.pin>h4{margin: 5px 0 0}
.pin>.pin-date{background: blue}
.pin>.pin-link{margin:5px 0 7px;}
.pin>.pin-link>a{color:#4488CC;}
.pin>.pin-link>a:hover{color:#3366bb;}
.pin>.pin-description{
	margin: 0;
}




