*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html, body{
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:'Open Sans', Arial, sans-serif;
	background:#2b2a2d;
}

a{
	color: #eeeeee;
	text-decoration:none;
}

.ilb, .btn{display: inline-block;}

.btn, #login-buttons a.login-link-text{
	border: 1px solid rgba(0,0,0,.25);
	margin: .7em;
	background:#ffdb4a;
	padding: 4px 10px 3px;
	color: #ffffff;
	text-shadow: 0 0 3px rgba(20,15,0,.4);
	font-size: 16px;
	line-height: 18px;
}

.btn:hover, #login-buttons a.login-link-text:hover{
	background:#fad346;
	cursor: pointer;
}

.red{background:#c44}
.green{background:#4a6}
.blue{background: #48c}
.red:hover{background:#b33}
.green:hover{background:#395}
.blue:hover{background: #37b}

#page{
	width:100%;
	height:-webkit-calc(100% - 65px);
	height:-moz-calc(100% - 65px);
	height:-o-calc(100% - 65px);
	height:calc(100% - 65px);
	position:absolute;
	top:65px;
	color:#FFF;
	overflow-x: hidden;
}

header {
	position:absolute;
	width:100%;
	height: 65px;
	padding:.2em 30px;
	background:#FFCC00;
	color:#484852;
	border-bottom:1px solid #DDAA00;
	font-size:1.2em;
}

header h1{
	font-family: lobster, 'Trebuchet MS';
	margin:0 0 4px;
	color:#F8F8F8;
	text-shadow: 0 2px 5px #C7980A;
	float: left;
	margin-right: 1em;
}

#login-buttons{
	position: absolute;
	right: 30px;
	top: 22px;
}

#login-buttons a.login-link-text, #login-buttons a.login-close-text{
	text-decoration: none;
}

#login-buttons a.login-close-text{
	float: right;
}

#login-dropdown-list{
	right: 20px;
	top: 2px;
	left: auto;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	box-shadow:0 0 0 10000px rgba(30,30,30,.3);
}

#searchMap{
	position: absolute;
	right: 338px;
	padding: 0 .7em .1em;
	display: none;
}

#searchMap .btn{margin: .5em 0 .5em .5em;}
input[type="search"]{border-radius: 50px;padding:0;vertical-align: baseline;}

#map_canvas {
	position:absolute;
	left: -338px;
	width: -moz-calc(100% + 338px);
	width: -webkit-calc(100% + 338px);
	width: -o-calc(100% + 338px);
	width: calc(100% + 338px);
	height:100%;
	margin: 0;
	color: #222222;
}

#queue{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border-left: 1px solid rgba(0,0,0,.95);
	overflow-y:scroll;
	height:100%;
	background: rgba(0,0,0,.2);
	width: 338px;
}

.pin{
	width: 100%;
	border-bottom: 1px solid rgba(100,100,100,.6);
	background: rgba(0,0,0,.77);
	margin: 0;
	padding: 12px;
	font-family: 'Open-sans', Arial, Helvetica, sans-serif; 
}
.pin:hover{
	cursor: pointer;
	background: rgba(0,0,0,.79);
}
.pin:last-child{border-bottom: none;}

.pin.open{
	position: absolute;
	top: 0;
	bottom: 0;
	background: #111;
	overflow-y: scroll; 
}
.pin.open:hover{
	background: #111;
	cursor: auto;
}

.pin .close{
	display:none;
	float: right;
	cursor: pointer;
	color: #aaaaaa;
	font-size: 1.6em;
	position: relative;
	top: -5px;
}.pin .close:hover{
	color: #eeeeee;
}

.pin>.pin-title{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.pin>.pin-title,.pinInfoWindow>.pin-title{margin: 0;}
.pin>h4,.pinInfoWindow>h4{margin: 5px 0 0;font-weight: 500;}
.pin>.pin-datetime{}
.pin>.pin-link,.pinInfoWindow>.pin-link{margin:5px 0 0;}
.pinInfoWindow>.pin-link{text-align: right;}
.pin .pin-location,.pinInfoWindow>.pin-location{color:#aaaaaf;;}
.pin>.pin-link>a,.pinInfoWindow .pin-link>a,.pinInfoWindow .directions>a{color:#4488CC;}
.pin>.pin-link>a:hover,.pinInfoWindow>.pin-link>a:hover,.pinInfoWindow .directions>a:hover{color:#3366bb;}
.pin>.pin-description,.pinInfoWindow>.pin-description{margin: 7px 0 0;white-space: pre-wrap;}
#queue>.pin>.pin-description{display:none;}
.pinInfoWindow>.pin-description{margin: 5px 0 0;}
.pin .directions>a{font-weight: 400;font-size: 90%;display: inline-block;}

#add-pin-form, .show-pin>.pin{
	width: 400px;
	margin: 0 auto;
	background: #f9f9f9;
	padding: 20px;
	margin-top: 1em;
	color: #494949;
	border: 1px solid rgba(0,0,0,.8);
}

input{line-height: normal;}
label{font-size: 1.2em;font-weight: 600;margin-top: 5px;}
input[type="text"],input[type="url"],textarea{width: 100%;}
input[type="date"],input[type="time"]{width: 50%;float: left;}
textarea{height: 100px;}
form>.btn{float: right;margin-right: 0}

.show-pin h2{text-align: center;margin:1em 0 0;font-size: 2em;}
#back-to-map{margin: 1em auto;display: block;width: 120px;text-align: center;}

@media (max-width:960px) {
	header {
		height: 50px;
		padding:0 10px;
		font-size:1.1em;
	}
	header #login-buttons{
		top: 16px;
		right: 0;
	}
	#page{
		height:-webkit-calc(100% - 50px);
		height:-moz-calc(100% - 50px);
		height:-o-calc(100% - 50px);
		height:calc(100% - 50px);
		top:50px;
	}
	#queue{
		font-size: 90%;
		width: 280px;
	}
	#intro p{
		padding:50px 18px 10px;
	}
	#searchMap{
		right: 280px;
		left: 0;
	}
	#searchMap input[type="search"]{
		width: 130px;
	}
	#add-pin{
		float:right;
	}
	#map_canvas {
		left: -280px;
		width: -moz-calc(100% + 280px);
		width: -webkit-calc(100% + 280px);
		width: -o-calc(100% + 280px);
		width: calc(100% + 280px);
	}
}

@media (max-width:580px) {
	#queue{
		right: 0;
		left: 0;
		top: auto;
		bottom: 0;
		height: 40%;
		border-top: 1px solid rgba(0,0,0,.95);
		box-shadow: -1px 0 3px rgba(0,0,0,.5);
		width: 100%;
	}
	#intro{height: auto;}
	#intro p{
		padding:40px 18px 20px;
	}
	#things{
		font-size: 110%;
		max-width: 300px;
	}
	#map_canvas {
		top: -30%;
		right: 0;
		left: 0;
		width: 100%;
		height: 130%;
	}
	#searchMap{
		right: 0;
	}
	#searchMap input[type="search"]{
		width: 140px;
	}
	.pinInfoWindow{
		max-width: 280px;
		max-height: 250px;
	}
	#add-pin-form, .show-pin>.pin{
		max-width: 350px;
		padding: 10px 14px;
	}
	.pin.open{
		position: static;
		overflow-y: visisble; 
	}
}