<template name="pinAdd">
	<form id="add-pin-form">
		<label for="title">Title</label><br>
		<input type="text" name="title" value="" placeholder="Title">
<br>
		<label for="location">Location</label><br>
		<input type="text" name="location" value="" placeholder="Location">
<br>
		<label for="date">Date &amp; Time</label><br>
		<input type="date" name="date">
		<input type="time" name="time">
<br>
		<label for="url">Link</label><br>
		<input type="url" name="url" value="" placeholder="www.example.com">
<br>
		<label for="description">Description</label><br>
		<textarea name="description" cols="30" rows="10"></textarea>
<br>
		<input type="submit" value="Post" class="btn">
	</form>
</template>