<template name="pinAdd">
	<form id="add-pin-form">
		<h2>New Pin</h2>
		<label for="title">Title</label>
		<input type="text" name="title" value="" placeholder="Title">

		<label for="location">Location</label>
		<input type="text" name="location" value="" placeholder="Location">

		<label for="date">Date &amp; Time</label>
		<input type="date" name="date">
		<input type="time" name="time">

		<label for="url">Link</label>
		<input type="url" name="url" value="" placeholder="http://www.example.com">

		<label for="description">Description</label>
		<textarea name="description"></textarea>

		<input type="submit" value="Post" class="btn">
		<a href="/" class="btn red">Cancel</a>
		<div class="clearfix"></div>
	</form>
</template>