<template name="intro">
<div id="intro">
	<p>"Happining makes it easy to find what's going on around you."</p>
	
	<div id="things">
		<h2>Pin, Search, and Follow...</h2>
		<ul>
			<li>Exciting events &amp; things to do</li>
			<li>Opportunities &amp; job openings</li>
			<li>Local sales &amp; products</li>
			<li>Interesting &amp; talented people</li>
		</ul>
	</div>

	<h1>Think of it as<br>Social Radar</h1>
	
	<div id="signup">
		<a href="http://happining.wufoo.com/forms/happining-invitation/">Request an Invitation</a>
	</div>
</div>
</template>